<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yin.trip.admin.dao.ClickDao">
    <insert id="insertClick" parameterType="com.yin.trip.admin.entity.Click">
        INSERT INTO t_click(user_name, user_type, sight_name, sight_type, time) VALUES (
         #{userName}, #{userType}, #{sightName}, #{sightType}, #{time}
        )
    </insert>

    <select id="getClickList" parameterType="java.util.HashMap" resultType="com.yin.trip.admin.entity.Click">
        SELECT * FROM t_click WHERE 1 = 1
        <if test="userName!=null and userName!=''">
            AND user_name = #{userName}
        </if>
        <if test="sightName!=null and sightName!=''">
            AND sight_name = #{sightName}
        </if>
        <if test="usersName!=null and usersName!=''">
            AND user_name IN
            <foreach collection="usersName" index="index" item="user" open="(" close=")" separator=",">
                #{user}
            </foreach>
        </if>

    </select>

</mapper>