<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yin.trip.admin.dao.ScoreDao">
    <insert id="insertScore" parameterType="com.yin.trip.admin.entity.Score">
        INSERT INTO t_score(user_name, user_type, sight_name, sight_type, score, time, comment) VALUES (
         #{userName}, #{userType}, #{sightName}, #{sightType},#{score}, #{time}, #{comment}
        )
    </insert>

    <select id="getScore" parameterType="java.util.HashMap" resultType="com.yin.trip.admin.entity.Score">
        SELECT * FROM t_score
        WHERE 1 = 1
        <if test="userName!=null and userName!=''">
          AND user_name = #{userName}
        </if>
        <if test="sightName!=null and sightName!=''">
          AND sight_name = #{sightName}
        </if>
    </select>

    <select id="getScoreWithComment" parameterType="java.util.HashMap" resultType="com.yin.trip.admin.entity.Score">
        SELECT * FROM t_score
        WHERE comment IS NOT NULL
        <if test="userName!=null and userName!=''">
            AND user_name = #{userName}
        </if>
        <if test="sightName!=null and sightName!=''">
            AND sight_name = #{sightName}
        </if>
        <if test="length!=null and length!=''">
            Limit #{offset},#{length}
        </if>
    </select>



    <update id="updateScore" parameterType="com.yin.trip.admin.entity.Score">
        UPDATE t_score SET
        score = #{score},
        time = #{time},
        comment = #{comment}
        WHERE
        user_name = #{userName} AND sight_name = #{sightName}
    </update>

    <select id="getScoreList" parameterType="java.util.HashMap" resultType="com.yin.trip.admin.entity.Score">
        SELECT * FROM t_score WHERE 1 = 1
        <if test="userName!=null and userName!=''">
            AND user_name = #{userName}
        </if>
        <if test="sightName!=null and sightName!=''">
            AND sight_name = #{sightName}
        </if>
        <if test="startScore!=null and startScore!=''and endScore!=null and endScore!=''">
            AND score BETWEEN #{startScore} AND #{endScore}
        </if>
        <if test="usersName!=null and usersName!=''">
            AND user_name IN
            <foreach collection="usersName" index="index" item="user" open="(" close=")" separator=",">
                #{user}
            </foreach>
        </if>

    </select>

</mapper>